extends layout
block content
    
    h1= title
    h3  <em> Shop By Department </em>
    <b>
    <div><img src= "http://cdn1.bigcommerce.com/n-ww20x/7nd9d4t/product_images/theme_images/mens_watches_zoobashop__18062.jpg" width="1000" height="500"/> </div>

    table
    thead <br/><a href="">Appliances</a><br/>
        th  <br/> &nbsp; &nbsp;&nbsp; &nbsp;<a href='/product'>Refrigerator</a><br/>

    thead <br/><a href="">Electronics</a><br/>
         th  <br/> &nbsp; &nbsp;&nbsp; &nbsp;<a href='/tv'>TV</a><br/>

    thead <br/><a href='/books'>Books</a><br/>

    thead <br/><a href="">Women Accessories</a><br/>
        th  <br/> &nbsp;&nbsp;&nbsp;&nbsp;<a href='/nailpolish'>NailPolish</a><br/> 

    thead <br/><a href="">Pharmacy</a><br/>

    thead <br/><a href="">Grocery</a><br/>

    thead <br/><a href="">Photo and Gifts</a><br/>

    thead <br/><a href="">Toys and Video Games</a><br/>

    thead <br/><a href="">Baby and Kids</a><br/>

    tbody
    </b>
    

    
